* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: 'Impact';
	src: url('./fonts/Impact.woff2') format('woff2'),
	url('./fonts/Impact.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card-block {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 600px;
	min-height: 400px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.38);
	position: relative;
	overflow: hidden;
}

.card-block::after, .card-block::before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('./img/bg-after.png') no-repeat center;
	background-size: cover;
	z-index: 0;
}

.card-block::before {
	background: url('./img/bg.png');
	background-size: cover;
	z-index: -1;
}

.card-block__title {
	display: flex;
	align-items: center;
	color: #ffffff;
	font-family: 'Impact';
	max-width: 65%;
	font-size: 82px;
	font-weight: 400;
	letter-spacing: 4.1px;
	z-index: 1;
	position: relative;
	padding: 0 0 0 30px;
	text-transform: uppercase;
}

.card-block__img {
	z-index: 2;
	position: absolute;
	bottom: -20px;
	right: -140px;
}

.img-author {
	-webkit-filter: drop-shadow(-25px -15px 5px rgba(0, 0, 0, 0.76));
	filter: drop-shadow(-25px -15px 5px rgba(0, 0, 0, 0.76));
	position: relative;
	z-index: 4;
}

.card-block__img::before {
	content: "";
	display: block;
	background: url('./img/header-author.png') no-repeat center;
	width: 237px;
	height: 158px;
	position: absolute;
	-webkit-filter: drop-shadow(-25px -15px 5px rgba(0, 0, 0, 0.76));
	filter: drop-shadow(-25px -15px 5px rgba(0, 0, 0, 0.76));
	z-index: 5;
	top: -60px;
	left: 33px;
}

@media screen and (max-width: 768px) {
	.card-block {
		min-height: 100vh;
	}
	.card-block__title {
		max-width: 75%;
	}
}
@media screen and (max-width: 425px) {
	.card-block__title {
		font-size: 50px;
	}
	.card-block__img {
		right: -190px;
	}
}